@model int

    <div class="row">
        <div class="col">
            <button type="submit" class="btn btn-primary form-control" asp-route-id="@Model" ><i class="fas fa-sync"></i> Update</button>
        </div>
        <div class="col">
            <a asp-action="Index" class="btn btn-success form-control"><i class="fas fa-undo"></i> Back to List</a>
        </div>
    </div>